@font-face {
    font-family: 'Decima Mono';
    src: url('../fonts/decimamonopro-webfont.woff2') format('woff2'),
         url('../fonts/decimamonopro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 20px 0;
  max-width: 435px;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #34444c;
}

body {
    font-family: 'Decima Mono', 'Courier New', Courier, monospace;
    font-size: 11px;
}

select {
  font-family: 'Decima Mono', 'Courier New', Courier, monospace;
  color: #34444c;
  background: #fff;
  border: none;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  width: 70px;
  margin-left: 10px;
}

.graph-container {
  margin: 15px;
  max-width: 500px;
  min-height: 403px;
}

.grid path,
.axis path,
.axis line {
  display: none;
}

.grid .tick {
  fill: none;
  stroke: #A4A2A2;
  stroke-width: 0.2px;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: 'Decima Mono', 'Courier New', Courier, monospace;
  font-size: 11px;
  fill: #A4A2A2;
}

.legend {
  margin: 15px 30px;
  max-width: 500px;
}

.legend ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.legend ul li {
  width: 33%;
  margin-bottom: 6px;
  font-size: 13px;
  color: #34444c;
  text-transform: uppercase;
}

.legend ul li .icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 4px
}

.legend ul li .icon.c1 {
  background-color: #FDDFE2;
}
.legend ul li .icon.c2 {
  background-color: #FBBFC5;
}
.legend ul li .icon.c3 {
  background-color: #FA9EA8;
}
.legend ul li .icon.c4 {
  background-color: #F87E8B;
}
.legend ul li .icon.c5 {
  background-color: #F65E6E;
}
.legend ul li .icon.c6 {
  background-color: #CE5967;
}
.legend ul li .icon.c7 {
  background-color: #A85360;
}
.legend ul li .icon.c8 {
  background-color: #6E4C56;
}
.legend ul li .icon.c9 {
  background-color: #48464F;
}
