.container {
  height: 100%;
  margin: 44px 0 0;
}

.map-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}

.title {
  font-size: 22px;
  color: #34444c;
  margin: 0;
}

@media screen and (min-width: 750px) {
  .map-header {
    margin: 0 66px;
  }
}
