.container {
  height: 100%;
  margin: 44px 0 0;
}

.map-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  font-size: 22px;
  color: #34444c;
  margin: 0;
}

.map-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 16px;
}

.map-footer-text {
  color: rgba(52, 68, 76, 0.6);
  text-transform: uppercase;
  font-weight: 700;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset {
  margin: 0 0 0 15px;
  height: 33px;
  padding: 5px 10px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
  cursor: pointer;
}

.reset.-disabled {
  opacity: 0.6;
  pointer-events: none;
}

.reset.-disabled .selector-text {
  color: rgba(52, 68, 76, 0.6);
}

@media screen and (min-width: 750px) {
  .map-header, .map-footer {
    margin: 0 66px;
  }
}
