@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/decimamonopro-webfont.woff2') format('woff2'),
         url('../fonts/decimamonopro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Merriweather;
    font-size: 14px;
    color: #34444C;
    height: 100%;
    width: 100%;

    .image-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
}
