* {
  box-sizing: border-box;
}

body {
  background: #F6F6F6;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#viz-lp {
  width: 120vmin;
  position: absolute;
  top: 50%;
  transform: translate(-45%, -45%);
}

#viz-lp .map svg path {
  stroke:#F6F6F6;
  fill: #ececec;
  stroke-width: .2;
}

#viz-lp .map svg circle {
  background: #FFF0C2;
  background-image: linear-gradient(-180deg, rgba(52,68,76,0.00) 0%, #34444C 100%);
}

#viz-lp .map svg circle.municipalities-bubble {
  /* fill: #FFF0C2; */
  fill: url(#bubble-gradient);
  stroke-width: 0;
}